.journal-item {
    border-radius: 3px;
    background-color: #ffffff08;
    color: #fff;
    padding: 20px;
}

.journal-item__header {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 28px;
}

.journal-item__date {
    color: #ffffff66;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.journal-item__text {
    color: #ffffff99;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
}

.journal-item__body {
    display: flex;
    align-items: center;
    gap: 10px;
}